ul, ol, p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: aliceblue;
    margin: 30px;
    padding: 10px;
    padding-left: 35px;
}

a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: block;
    padding: 10px;
}

h1 {
    font-size: 40px;
    background-color: rgb(28, 70, 70);
    color: white;
    padding: 10px;
    /* margin: 0; */
}

h2 {
    font-size: 30px;
    margin: 30px;
}
